<div class="container">
  <div class="row">
    <div>
      <h4>トレーニング名</h4>
      <%= form_with model: @menu, local: true do |f| %>
      <div class="form-group">
        <%= f.label :部位名 %>
        <%= f.text_field :part_name, class: "form-control" %>
        <%= f.label :メニュー名 %>
        <%= f.text_field :menu_name, class: "form-control" %>
        <%= f.submit "変更を保存", class: "btn btn-outline-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>