<div class="container">
  <div class="row">
    <div class="form-group">
      <h4>トレーニング部位一覧・追加</h4>
        <%= form_with model: @part, url:parts_path, local: true do |f| %>
          <%= f.text_field :part, placeholder: "部位名" %>
          <%= f.submit "新規登録", class: "btn btn-success" %>
        <% end %>
        <table class="table table-light">
          <thead class="table-active text-center">
            <tr class="">
              <th class="bg-muted">トレーニング部位</th>
              <th class="bg-muted"></th>
            </tr>
          </thead>
          <tbody>
            <% @parts.each do |part| %>
            <tr>
              <td class="text-center"><%= part.part %></td>
              <td class="text-center"><%= link_to "編集する", edit_part_path(part), class: "btn btn-primary" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      <div>
    </div>
  </div>
</div>