<div class="container">
  <div class="row">
    <div>
      <div class="border border-5 border-warning p-2 m-2">
        <div class="profile-img p-2 border-3 border-bottom border-warning">
            <%= link_to user_path(@tweet.user.id) do %>
              <%= attachment_image_tag @tweet.user, :image, format: 'jpeg', size: '50x50' %>
              <%= @tweet.user.name %>
            <% end %>
              [<%= @tweet.created_at.strftime('%Y/%m/%d %H:%M') %>]
        </div>
        <div class="text-break p-2 border-3 border-bottom border-warning">
          <%= @tweet.text %>
        </div>
        <div class="p-2 border-3 border-bottom border-warning">
          <%= attachment_image_tag @tweet, :image, format: 'jpeg', size: '250x250' %>
        </div>
        <div class="p-2 border-3 border-bottom border-warning">
          <% if @tweet.user == current_user %>
            <%= link_to '編集', edit_tweet_path(@tweet), class: "btn btn-outline-success btn-sm" %>
          <% end %>
          <% if @tweet.user == current_user %>
            <%= link_to "削除", tweet_path(@tweet), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %>
          <% end %>
        </div>
        <div class="p-2 border-3 border-bottom border-warning">
          <%= render 'trainings/daytraining', trainings: @tweet.user.trainings.where(start_time: @tweet.start_time) %>
        </div>
        <div class="p-2 border-3 border-bottom border-warning">
          <%= form_with model: [@tweet, @comment] do |f| %>
            <%= f.text_area :text, rows: '5', placeholder: "コメント" %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
        <div class="p-2 border-3 border-bottom border-warning">
          [コメント数 : <%= @tweet.comments.count %>]
          <%= render 'favorite', tweet: @tweet %>
        </div>
          <% @tweet.comments.each do |comment| %>
            <%= link_to user_path(comment.user.id) do %>
              <%= attachment_image_tag comment.user, :image, format: 'jpeg', size: '30x30' %>
              <%= comment.user.name %>
            <% end %>
             [<%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>]
            <p><%= comment.text %></p>
            <% if comment.user == current_user %>
              <p><%= link_to "削除", tweet_comment_path(comment.tweet, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %></p>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
