<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @user.name %>のマイページ</h1>
        <% if @user == current_user %>
          <%= link_to 'プロフィール編集', edit_user_path(@user), class: "btn btn-success" %>
          <%= link_to '退会する', quit_users_path(@user), class: "btn btn-danger" %>
        <% end %>
      <% @tweets.each do |tweet| %>
        <div>
          <%= tweet.created_at.strftime('%Y/%m/%d %H:%M') %>
          <%= link_to tweet_path(tweet.id) do %>
            <p><%= tweet.title %></p>
          <% end %>
          <p><%= tweet.text %></p>
          <p>
            <%= attachment_image_tag tweet, :image, format: 'jpeg', size: '100x100' %>
          </p>
          <% if @user == current_user %>
            <%= link_to '編集', edit_tweet_path(tweet), class: "btn btn-success" %>
          <% end %>
          <% if @user == current_user %>
            <%= link_to "削除", tweet_path(tweet), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
