<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="profile-img">
        <%= attachment_image_tag @user, :image, format: 'jpeg', size: '100x100' %>
      </div>
      <ul class="list-group">
        <li class="list-group-item"><%= @user.name %></li>
        <li class="list-group-item"><%= @user.introduction %></li>
        <li class="list-group-item">
          フォロー  <%= link_to @user.followings.count, user_followings_path(@user) %>
        </li>
        <li class="list-group-item">
          フォロワー  <%= link_to @user.followers.count, user_followers_path(@user) %>
        </li>
      </ul>
      <div class='mt-2'>
        <% if current_user != @user %>
          <td><%= render "follows/btn", user: @user %></td>
        <% else %>
          <%= link_to 'プロフィール編集', edit_user_path(@user), class: "btn btn-outline-success btn-sm" %>
          <%= link_to '設定', edit_user_registration_path(@user), class: "btn btn-outline-success btn-sm" %>
          <% end %>
      </div>
    </div>
    <div class="col-7 offset-1">
      <% @tweets.each do |tweet| %>
        <div class="border border-5 border-warning p-2 m-2">
          <div class="p-2 border-3 border-bottom border-warning">
            <%= tweet.text %>
          </div>
          <div class="p-1 border-3 border-bottom border-warning">
            <%= link_to tweet_path(tweet.id) do %>
              <%= tweet.created_at.strftime('%Y/%m/%d %H:%M') %>
            <% end %>
          </div>
          <div class="p-1">
            <%= attachment_image_tag tweet, :image, format: 'jpeg', size: '100x100' %>
          </div>
          <div class="p-1 border-3 border-bottom border-warning">
            <%= link_to "#{tweet.comments.count} コメント", tweet_path(tweet.id) %>
            <%= render 'tweets/favorite', tweet: tweet %>
          </div>
          <div class="pt-2">
            <% if @user == current_user %>
              <%= link_to '編集', edit_tweet_path(tweet), class: "btn btn-outline-success btn-sm" %>
            <% end %>
            <% if @user == current_user %>
              <%= link_to "削除", tweet_path(tweet), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger btn-sm" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
